body {
   background-image:linear-gradient(to left top, rgb(188, 188, 236), red);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
   background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

h2 {
/* float:left; */
}

.column {
  text-align: center;
  float: right;
  border: groove black 5px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  margin: 0px auto;
  margin-left: 10px;
margin-right: 10px;
 width: 17%;
box-sizing: border-box;
}

.column-container {
display: flex;
justify-content: space-between;
justify-self: center;
}

#elephant img {
  width: 100%;  
}

#fox img {
  width: 100%;
}
#parrot img {
  width: 100%;
  border-radius: 50%;
}

#tiger img {
  width: 100%;
}
#dog img {
  width: 100%;
}

.media-div img {
  width: 100%;
}

.media-div a:link {
color: white;
background-color: transparent;
text-decoration: none;
}

.media-div a:visited {
color: pink;
background-color: transparent;
text-decoration: none;
}

.media-div a:hover {
color: rgb(246, 238, 246);
background-color: transparent;
text-decoration: underline;
}

.media-div a:active {
color: rgb(246, 238, 246);
background-color: transparent;
text-decoration: underline;
}

.card-body  {
  border: 2px black solid;
}
.card-img-bottom {
  width: 100%;
}

/* media queries need to be located at the bottom of CSS sheets to prevent other style rules from overriding them */
@media screen and (max-width: 575px) {
  .column {
width: 120px;
float: left;
justify-self: center;
  }
}

